body{
   font-family: Arial, Helvetica, sans-serif;
   margin: 0;
   background: url('img/bc.jpg'); 
   background-size: cover;
   background-attachment: fixed;
}

.link{
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
    margin-left: 250px;
}

.title{ 
    background-image: url('img/bc.jpg'); 
    background-position: inherit; 
    width: inherit;
    color: whitesmoke; 
    margin: 25%; 
    width: 50%;
    margin-top: 180px;
    padding: 15px;
    text-align: center; 
    font-size: 25px; 
}

.reg{
    width: 100%;
    padding: 20px;
    text-align: center; 
}

.boton1{
    color: whitesmoke;
    background: url('img/bc.jpg');
    margin-top: 25px;
    text-align: center; 
    width: 40%;
    font-size: 20px;
    padding: 5px 15px;
    border-radius: 20px;
    cursor: pointer;
}

h1{
    padding-left: 50px;
}

input[type='text'] , input[type='password']{
    padding: 10px;
}


.boton2{
    margin-left: 50px;
}